<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="discount.xml"/>

    <bean id="auditorium" class="com.epam.courses.springcore.pojo.Auditorium" scope="prototype">
        <constructor-arg value="${name}" />
        <constructor-arg value="${vip_seats}" />
        <constructor-arg value="${number_of_sets}" type="int" />
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium_a.properties</value>
                <value>classpath:auditorium_b.properties</value>
                <value>classpath:auditorium_c.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
    </bean>

    <bean id="mapUserDao" class="com.epam.courses.springcore.dao.MapUserDAO">
    </bean>

    <bean id="mapEventDao" class="com.epam.courses.springcore.dao.MapEventDAO">
    </bean>

    <bean id="mapAuditoriumDao" class="com.epam.courses.springcore.dao.MapAuditoriumDAO">
    </bean>

    <bean id="userService" class="com.epam.courses.springcore.services.UserSevice">
        <constructor-arg ref="mapUserDao" />
    </bean>

    <bean id="bookingService" class="com.epam.courses.springcore.services.BookingService">
        <constructor-arg ref="mapAuditoriumDao" />
        <constructor-arg ref="mapEventDao" />
        <constructor-arg ref="mapUserDao" />
    </bean>

    <bean id="auditoriumService" class="com.epam.courses.springcore.services.AuditoriumService">
        <constructor-arg ref="mapAuditoriumDao" />
    </bean>

    <bean id="eventService" class="com.epam.courses.springcore.services.EventService">
        <constructor-arg ref="mapEventDao" />
    </bean>

</beans>